@import "./pages/datos\ utiles.scss";
@import "./variables.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 20px;
  margin: 5px;
  font-family: "Arima Madurai", cursive;
}

h1 {
  color: adjust-color(
    $color: #000000,
    $red: 1,
    $green: 2,
    $blue: 3,
    $hue: 0,
    $saturation: 0%,
    $lightness: 0%,
    $alpha: 1
  );
}
